<mat-card class="card-login">
  <mat-card-header>
    <mat-card-title>Ingresa al sistema</mat-card-title>
    <mat-card-subtitle>Ingresa tu correo y contrasena!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-login">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="form-field-login">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit">Ingresar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
